.star {
	font-weight: bolder;
	height: 40px;
	width: 40px;
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	text-align: center;
	background: #F0D512;
	color: white;
	float: left; 
	color: black;
}

.star::before {
	display: inline-block;
	height: 100%;
	background: blue;
	vertical-align: middle;
	content: '';
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
} 


.bx-lock:hover, .bx-printer:hover {
	cursor: pointer;
}

.my-validation-message::before{
	display: none;
}

.my-validation-message{
	margin: 0 .4em;
	color: #f27474;
	font-size: 1.4em;
}
