
.star {
	font-weight: bolder;
	height: 55px;
	width: 80px;
	-webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	text-align: center;
	background: #F0D512;
	color: black; 
	/* float: left;   */  
    margin-left: auto;
    margin-right: auto;
}

.star::before {
	display: inline-block;
	height: 100%;
	background: blue;
	vertical-align: middle;
	content: ''; 
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
} 
   
.seperate{
	border-left: 5px solid gray !important;
}